In [1]:
import pandas as pd
import numpy as np

# 1 Pandas 使用

In [2]:
stock_change = np.random.normal(0, 1, (10, 5))

In [3]:
stock_change

array([[ 2.63833784,  1.38796946, -0.69104819, -0.42243216, -0.92492863],
       [-1.03726514, -2.3622645 , -0.75850214, -1.07206477,  0.37824927],
       [ 0.29435537, -0.34740235,  0.02560168, -1.82432558, -2.36719424],
       [ 0.52901139,  0.39052173,  1.3414467 ,  0.60420232,  0.04781129],
       [-0.06110711, -0.11779375, -0.81502976, -1.72812864, -1.12182615],
       [-1.1359091 , -0.34257038,  0.85987197,  0.86111239, -0.58772431],
       [ 1.80029762,  0.67678138,  0.72189515, -0.84570788, -1.00387005],
       [ 1.9237744 , -0.31915991,  0.04253717,  1.54084546, -0.83327107],
       [-1.70156797,  0.60093794,  0.88445099,  0.64882137, -0.03210858],
       [ 2.81080633, -0.94157627, -1.32381091, -0.03359707, -1.14398545]])

In [4]:
stock_rise = pd.DataFrame(stock_change)

In [5]:
stock_rise

          0         1         2         3         4
0  2.638338  1.387969 -0.691048 -0.422432 -0.924929
1 -1.037265 -2.362264 -0.758502 -1.072065  0.378249
2  0.294355 -0.347402  0.025602 -1.824326 -2.367194
3  0.529011  0.390522  1.341447  0.604202  0.047811
4 -0.061107 -0.117794 -0.815030 -1.728129 -1.121826
5 -1.135909 -0.342570  0.859872  0.861112 -0.587724
6  1.800298  0.676781  0.721895 -0.845708 -1.003870
7  1.923774 -0.319160  0.042537  1.540845 -0.833271
8 -1.701568  0.600938  0.884451  0.648821 -0.032109
9  2.810806 -0.941576 -1.323811 -0.033597 -1.143985

In [6]:
stock_rise.shape  # 获取 Dataframe 的行和列数

(10, 5)

In [7]:
stock_code = [f'股票{i+1}' for i in range(stock_rise.shape[0])]

In [8]:
stock_code

['股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9', '股票10']

In [9]:
pd.DataFrame(stock_change, index=stock_code)

             0         1         2         3         4
股票1   2.638338  1.387969 -0.691048 -0.422432 -0.924929
股票2  -1.037265 -2.362264 -0.758502 -1.072065  0.378249
股票3   0.294355 -0.347402  0.025602 -1.824326 -2.367194
股票4   0.529011  0.390522  1.341447  0.604202  0.047811
股票5  -0.061107 -0.117794 -0.815030 -1.728129 -1.121826
股票6  -1.135909 -0.342570  0.859872  0.861112 -0.587724
股票7   1.800298  0.676781  0.721895 -0.845708 -1.003870
股票8   1.923774 -0.319160  0.042537  1.540845 -0.833271
股票9  -1.701568  0.600938  0.884451  0.648821 -0.032109
股票10  2.810806 -0.941576 -1.323811 -0.033597 -1.143985

In [10]:
date_col = pd.date_range(start='20200403', periods=stock_rise.shape[1], freq='B')  # 返回固定频率的 DatetimeIndex

In [11]:
date_col

DatetimeIndex(['2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08',
               '2020-04-09'],
              dtype='datetime64[ns]', freq='B')

In [12]:
stock_c = pd.DataFrame(stock_change, index=stock_code, columns=date_col)

# 2 Dateframe 基本操作

In [13]:
stock_c

      2020-04-03  2020-04-06  2020-04-07  2020-04-08  2020-04-09
股票1     2.638338    1.387969   -0.691048   -0.422432   -0.924929
股票2    -1.037265   -2.362264   -0.758502   -1.072065    0.378249
股票3     0.294355   -0.347402    0.025602   -1.824326   -2.367194
股票4     0.529011    0.390522    1.341447    0.604202    0.047811
股票5    -0.061107   -0.117794   -0.815030   -1.728129   -1.121826
股票6    -1.135909   -0.342570    0.859872    0.861112   -0.587724
股票7     1.800298    0.676781    0.721895   -0.845708   -1.003870
股票8     1.923774   -0.319160    0.042537    1.540845   -0.833271
股票9    -1.701568    0.600938    0.884451    0.648821   -0.032109
股票10    2.810806   -0.941576   -1.323811   -0.033597   -1.143985

In [14]:
stock_c.shape

(10, 5)

In [15]:
stock_c.index  # 显示索引

Index(['股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9', '股票10'], dtype='object')

In [16]:
stock_c.values  # 显示数值

array([[ 2.63833784,  1.38796946, -0.69104819, -0.42243216, -0.92492863],
       [-1.03726514, -2.3622645 , -0.75850214, -1.07206477,  0.37824927],
       [ 0.29435537, -0.34740235,  0.02560168, -1.82432558, -2.36719424],
       [ 0.52901139,  0.39052173,  1.3414467 ,  0.60420232,  0.04781129],
       [-0.06110711, -0.11779375, -0.81502976, -1.72812864, -1.12182615],
       [-1.1359091 , -0.34257038,  0.85987197,  0.86111239, -0.58772431],
       [ 1.80029762,  0.67678138,  0.72189515, -0.84570788, -1.00387005],
       [ 1.9237744 , -0.31915991,  0.04253717,  1.54084546, -0.83327107],
       [-1.70156797,  0.60093794,  0.88445099,  0.64882137, -0.03210858],
       [ 2.81080633, -0.94157627, -1.32381091, -0.03359707, -1.14398545]])

In [17]:
stock_c.T  # 转置

,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9,股票10
2020-04-03,2.638338,-1.037265,0.294355,0.529011,-0.061107,-1.135909,1.800298,1.923774,-1.701568,2.810806
2020-04-06,1.387969,-2.362264,-0.347402,0.390522,-0.117794,-0.342570,0.676781,-0.319160,0.600938,-0.941576
2020-04-07,-0.691048,-0.758502,0.025602,1.341447,-0.815030,0.859872,0.721895,0.042537,0.884451,-1.323811
2020-04-08,-0.422432,-1.072065,-1.824326,0.604202,-1.728129,0.861112,-0.845708,1.540845,0.648821,-0.033597
2020-04-09,-0.924929,0.378249,-2.367194,0.047811,-1.121826,-0.587724,-1.003870,-0.833271,-0.032109,-1.143985

# 3 索引设置

### 1 修改索引值

In [18]:
new_stock_code = [f'股票__{i+1}' for i in range(stock_rise.shape[0])]

In [19]:
stock_c.index = new_stock_code  # 重新设置索引

In [20]:
stock_c

        2020-04-03  2020-04-06  2020-04-07  2020-04-08  2020-04-09
股票__1     2.638338    1.387969   -0.691048   -0.422432   -0.924929
股票__2    -1.037265   -2.362264   -0.758502   -1.072065    0.378249
股票__3     0.294355   -0.347402    0.025602   -1.824326   -2.367194
股票__4     0.529011    0.390522    1.341447    0.604202    0.047811
股票__5    -0.061107   -0.117794   -0.815030   -1.728129   -1.121826
股票__6    -1.135909   -0.342570    0.859872    0.861112   -0.587724
股票__7     1.800298    0.676781    0.721895   -0.845708   -1.003870
股票__8     1.923774   -0.319160    0.042537    1.540845   -0.833271
股票__9    -1.701568    0.600938    0.884451    0.648821   -0.032109
股票__10    2.810806   -0.941576   -1.323811   -0.033597   -1.143985

### 2 重设索引

In [21]:
stock_c.reset_index()  # 重设索引

,index,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00
0,股票__1,2.638338,1.387969,-0.691048,-0.422432,-0.924929
1,股票__2,-1.037265,-2.362264,-0.758502,-1.072065,0.378249
2,股票__3,0.294355,-0.347402,0.025602,-1.824326,-2.367194
3,股票__4,0.529011,0.390522,1.341447,0.604202,0.047811
4,股票__5,-0.061107,-0.117794,-0.815030,-1.728129,-1.121826
5,股票__6,-1.135909,-0.342570,0.859872,0.861112,-0.587724
6,股票__7,1.800298,0.676781,0.721895,-0.845708,-1.003870
7,股票__8,1.923774,-0.319160,0.042537,1.540845,-0.833271
8,股票__9,-1.701568,0.600938,0.884451,0.648821,-0.032109
9,股票__10,2.810806,-0.941576,-1.323811,-0.033597,-1.143985

In [22]:
stock_c.reset_index(drop=True)  # 不保留原索引值的重设索引

   2020-04-03  2020-04-06  2020-04-07  2020-04-08  2020-04-09
0    2.638338    1.387969   -0.691048   -0.422432   -0.924929
1   -1.037265   -2.362264   -0.758502   -1.072065    0.378249
2    0.294355   -0.347402    0.025602   -1.824326   -2.367194
3    0.529011    0.390522    1.341447    0.604202    0.047811
4   -0.061107   -0.117794   -0.815030   -1.728129   -1.121826
5   -1.135909   -0.342570    0.859872    0.861112   -0.587724
6    1.800298    0.676781    0.721895   -0.845708   -1.003870
7    1.923774   -0.319160    0.042537    1.540845   -0.833271
8   -1.701568    0.600938    0.884451    0.648821   -0.032109
9    2.810806   -0.941576   -1.323811   -0.033597   -1.143985

### 3 将某列作为新索引

In [30]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale':[55, 40, 84, 31]})

In [31]:
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [32]:
df.set_index('month')  # 将月设置为新索引

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [34]:
df = df.set_index(['year', 'month'])  # 将月和年设置为新索引，返回的是一个具有MultiIndex的DataFrame

In [35]:
df

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

# 4 MultiIndex

### 1 特性

In [36]:
df.index

MultiIndex([(2012,  1),
            (2014,  4),
            (2013,  7),
            (2014, 10)],
           names=['year', 'month'])

In [37]:
df.index.names  # names：多级或分层索引对象

FrozenList(['year', 'month'])

In [38]:
df.index.levels  # levels：每个level的元组值

FrozenList([[2012, 2013, 2014], [1, 4, 7, 10]])

### 2 multiIndex的创建

In [39]:
arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]

In [40]:
pd.MultiIndex.from_arrays(arrays, names=('number', 'color'))

MultiIndex([(1,  'red'),
            (1, 'blue'),
            (2,  'red'),
            (2, 'blue')],
           names=['number', 'color'])